body {
    overflow: hidden;
}

#exhibition-link {
    position: absolute;
    bottom: 35px;
    text-align: center;
    left: 50%;
    color: white;
    transform: translate(-50%, 0px);
    background: #69dfb6;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
}

#unity-container.unity-desktop {
    height: 100vh;
    width: 70vw;
    right: 0%;
    top: 0%;
    left: initial;
    transform: translate(0%, 0%);
    z-index: -5;
    transition: width 0.8s cubic-bezier(0, 0, 0, 1);
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#unity-canvas {
    width: 70vw;
    height: 100vh;
    cursor: default;
}

#unity-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: white;
}

#profile-picture {
    border-radius: 50%;
}

.profile-picture {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.picture-menu {
    position: relative;
    top: -21px;
    left: -18px;
    margin-top: 20px;
    width: fit-content;
    background-color: #e3e3e3;
    border-radius: 5px;
    z-index: 999;
}

.picture-menu input[type="file"],
.picture-menu .delete-picture {
    display: none;
}

.picture-menu-closed {
    display: none;
}

.profile-picture:hover .picture-menu {
    display: inline-block;
}

.picture-menu input[type="file"], .picture-menu .delete-picture {
    display: none;
}

.picture-input-label, 
.picture-delete-label {
    border-radius: 5px;
    padding: 10px;
    background-color: #e3e3e3;
    cursor: pointer;
    display: block;
}

.profile-picture:hover {
    background: rgb(0,0,0,0.5) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-picture:hover::before {
    content: "\f303";
    color: white;
    font-family: FontAwesome;
    font-size: 10pt;
    line-height: 2;
    position: relative;
    top: 1px;
    left: 0px;
}

#local-peer-name {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.side-panel {
    width: 30vw;
    left: 0;
    top: 0;
    position: absolute;
    height: 100vh;
    transition: left 0.8s cubic-bezier(0, 0, 0, 1);
}

.side-panel-toggle {
    position: absolute;
    top: 20px;
    right: -25px;
    padding: 10px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
    z-index: 1;
    cursor: pointer;
}

.side-panel-closed {
    left: -30vw;
    /* width: 0vw; */
}

#unity-container.unity-desktop.unity-fullscreen {
    width: 100vw;
    right: 0%;
    top: 0%;
    left: initial;
    transform: translate(0%, 0%);
    z-index: -5;
    transition: width 0.8s cubic-bezier(0, 0, 0, 1);
}

#unity-canvas.unity-fullscreen {
    width: 100vw;
    right: 0%;
    top: 0%;
    left: initial;
    transform: translate(0%, 0%);
    z-index: -5;
    transition: width 0.8s cubic-bezier(0, 0, 0, 1);
}

.form-label {
    margin: auto 0;
}

audio {
    display: none;
}

.iniciar-audio {
    position: absolute;
    left: 5px;
    bottom: 50px;
}

audio {
    display: none;
}

.btn {
    box-shadow: none !important;    
}

.dash-name {
    padding: 10px 0;
    vertical-align: middle;
    background-color: #e3e3e3;
}

.dash-mic-status {
    position: absolute;
    display: flex;
    font-family: FontAwesome;
    font-size: 16pt;
    width: 50px;
    height: 50px;
    right: -50px;
    padding: 0px;
    padding-right: 2px;
    top: 100px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.dash-mic-status.mic-off {    
    background-color: #f38b8b;
}

.dash-mic-status.mic-on {    
    background-color: #9ddb84;
}

.fa-microphone {
    color: white !important; 
}

.fa-microphone-slash {
    color: white !important;
}

.banner {
    height: 100px;
    background: url(imgs/banner.jpg);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.dash-name .type-msg {
    background: none;
    border: none;
    border-radius: 0px;
    padding: 0;
}

.dash-name .btn-enter {
    color: white;
    background-color: #69aab5;
    border: none;
    border-radius: 5px;
    padding: 0;
}

.dash-name .btn-enter:hover {
    color: white;
    background-color: #69dfb6;
}

.dash-name .btn-enter:disabled {
    color: rgb(175, 175, 175);
    background-color: #e3e3e3;
}


.dash-container {
    max-height: 50%;
}

.dash-controlls span {
    display: block;
}

.chat.chat-client {
    display: inline-block;
    height: calc(100% - 230px);
    width: calc(100% + 24px);
    padding-bottom: 6px;
    padding-top: 6px;
    overflow-y: auto;
    OVERFLOW-X: hidden;
    background-color: white;
}

.chat p {
    position: relative;
    display: block;
    float: left;
    min-height: 35px;
    height: auto;
    width: auto;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.chat .msg-container {
    display: inline-block;
    width: 100%;
    padding-left: 20px;
}

.chat p::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: -10px;
    top: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    border-color: #f0f0f0 transparent transparent transparent;
}

.chat p.p-entered-chat {
    width: max-content;
}

.chat p.p-entered-chat::before {
    content: "";
    background-color: #4de113;
    border: none;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -3px;
    top: -3px;
}

.chat p.p-messaged-chat {
    margin-top: 35px;
    left: 30px;
    width: max-content;
    max-width: 80%;
    overflow-wrap: break-word;
    margin-bottom: 5px;
}

/* .chat strong {
    position: absolute;
    top: -30px;
    width: 300px;
    color: #5c5c5c;
} */

.chat p.p-messaged-chat .msg-timestamp {
    float: right;
    font-size: 9pt;
    color: #888;    
}

.chat p.p-entered-chat::before {
    content: "";
    background-color: #4de113;
    border: none;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -3px;
    top: -3px;    
}

.chat .mod-msg {
    padding: 10px 0 10px 12px;
    border-left: 5px solid #69dfb6;
    background-color: #c3f1e1;
    margin-left: 3px;
    border-radius: 5px;
}

.chat .mod-msg .p-messaged-chat {
    background-color: white;
}

.chat .mod-msg .p-messaged-chat::before {
    border-color: white transparent transparent transparent;
}

.message-block {
    padding: 0;
}

#scrollToBottomBtn {
    position: absolute;
    background-color: white;
    border-radius: 35%;
    border: 2px solid #e3e3e3;
    cursor: pointer;
    padding: 10px 12px;
    bottom: 90px;
    right: 20px;
    opacity: 1;
    transition: opacity 0.5s, bottom 0.5s, scale 0.5s, color 0.3s; 
}

#scrollToBottomBtn.btn-off {
    opacity: 0;
    bottom: 0px;
    transition: opacity 0.5s, bottom 0.5s, scale 0.5s, color 0.3s; 
}

.scroll-to-bottom-btn {
    padding: 0;
}

.msg-reactions {
    display: block;
    margin-top: 5px;
}

.msg-reactions .reaction {
    display: none;
    /* height: 25px; */
    min-width: 40px;
    border: 1px solid #5c5c5c;
    border-radius: 7px;
    font-style: normal;
    margin-right: 5px;
    background-color: transparent;
    text-align: left;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;    
    margin-bottom: 5px;
    cursor: pointer;
}

.msg-reactions .reaction.sent {
    color: #69aab5;
    border-color: #69aab5;
    background-color: #69dfb636;
    border-width: 2px;
}

.msg-reactions .reaction.visible {
    display: inline-block;
}

.chat strong.s-entered-chat {
    position: initial;
    top: initial;
}

.chat strong.s-messaged-chat {
    left: -30px;
}

/* width */
.chat::-webkit-scrollbar {
    width: 10px;
    right: 0px;
}

/* Track */
.chat::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.chat::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.p-messaged-chat .msg-menu {
    display: none;
}

.p-messaged-chat:hover .msg-menu {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 80px;
    right: -30px;
    bottom: -10px;
    background-color: #e3e3e3;
    border-radius: 5px;
}

.msg-menu .menu-reply {
    display: block;
    width: 40px;
    height: 40px;
    left: 0px;
    font-size: 18pt;
    cursor: pointer;
    text-align: center;
}

.msg-menu .menu-reactions {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    left: 0;
    background-color: #e3e3e3;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: 25px;
    cursor: pointer;
    text-align: center;
}

.menu-reactions .reaction {
    position: relative;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 18pt;
}

.p-messaged-chat:hover .menu-reactions:hover {
    height: 40px;
    width: 200px;
    padding: 0px 0;
    top: 40px;
    left: -80px;
    text-align: center;
}

.menu-reactions:hover .reaction {
    width: 25px;
}

.menu-reactions::-webkit-scrollbar {
   width: 0;
}

.menu-reactions .reaction {
    position: relative;
    width: 25px;
    height: 25px;
    text-align: center;
}

.reply-chat {    
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 10pt;
    color: #707070;
    background-color: #e0e0e0;
    border-radius: 5px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.s-reply-chat {
    font-size: 9pt;
    padding-left: 10px;
    color: #707070;
}

.s-reply-preview {
    display: block;
    font-size: 9pt;
    color: #707070;
}

.chat strong.s-entered-chat {
    position: initial;
    top: initial;
}

.chat strong.s-messaged-chat {
    position: absolute;
    width: 300px;
    top: -30px;
    left: -30px;
    color: #5c5c5c;
}

/* width */
.chat::-webkit-scrollbar {
    width: 10px;
    right: 0px;
}

/* Track */
.chat::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.chat::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.msg-box {
    padding: 10px;
    position: absolute;
    background-color: #e3e3e3;
    bottom: 0;
    width: 100%;
    display: none;
}

.type-msg {
    border: none;
    resize: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f5f5f5;
    background-clip: padding-box; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;
}

.reply-preview {
    position: absolute;
    display: none;
    width: calc(100% - 10px);
    height: 75px;
    bottom: 80px;
    left: 0;
    background-color: #e3e3e3;
    padding: 5px;
    z-index: 0;
    transition: bottom 0.5s;
}

.reply-preview.reply-off {
    bottom: 0;
    transition: bottom 0.5s;
}

.reply-preview .reply-chat {
    font-size: 9pt;
    margin: 0;
    background-color: #e3e3e3;
}

.reply-preview .reply-close {
    float: right;
    cursor: pointer;
    margin-right: 5px;
    font-size: 9pt;
}

.btn-send-msg {
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    z-index: 1;
}


.fas, .svg-inline--fa {
    color: #69aab5;
    transition: scale 0.5s, color 0.3s;
}


.fas:hover, .svg-inline--fa:hover {
    color: #69dfb6;
    transition: scale 0.5s, color 0.3s;
}

.side-panel .side-panel-toggle:hover .fas {
    color: #69dfb6;
}

.side-panel .side-panel-toggle .fa-angle-left {
    transition: transform 0.5s, color 0.3s, scale 0.3s;
    transform: scaleX(1);
}

.side-panel-closed .side-panel-toggle .fa-angle-left {
    transform: scaleX(-1);
}

.btn-send-msg:hover .fas {
    color: #69dfb6;
    transition: color 0.3s;
}
